name: clean
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - name: checkout
        uses: actions/checkout@master
      - name: delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          retain_days: 0
          keep_minimum_runs: 0
      - name: commit
        run: |
         git config --global user.email "actions@github.com"
         git config --global user.name "GitHub Actions"
         git checkout --orphan new_branch
         git add -A
         git commit -am "rebase"
         git branch -D main
         git branch -m main
         git push origin main --force
