name: web-win
on: [workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    env:
      CREDENTIALS: ${{ secrets.CREDENTIALS }} 
    steps:
    - uses: msys2/setup-msys2@v2.21.1
      with:
          msystem: MSYS
          install: >-
            pacman
    - uses: fawazahmed0/action-debug@main
      with:
        credentials: "${{ secrets.CREDENTIALS }}"
