#某些老旧的bios可能不支持直接解压镜像到U盘安装，使用ventoy或rufus创建启动盘可解
name: win10auto
on: [workflow_dispatch]
jobs:
  create:
    runs-on: windows-2022
    env:
      TZ: Asia/Shanghai
    steps:
    - name: run
      run: |
        git clone https://github.com/marcinmajsc/uup-dump-build-windows-iso --depth 1
        pwsh ./uup-dump-build-windows-iso/uup-dump-get-windows-iso.ps1 windows-10 . -architecture x64 -edition pro -lang zh-cn
    - name: 7z
      shell: cmd
      run: |
        FOR %%I IN (*.iso) DO 7z -tzip -mx0 a release/%%~nI.zip -v2000m %%~nI.*
    - name: release
      uses: softprops/action-gh-release@master
      with:
         tag_name: aac_at
         files: release/*
